<dx-data-grid [dataSource]="ordersDetails"
              [columnAutoWidth]="true"
              [repaintChangesOnly]="true"
              [showBorders]="true"
              (onRowRemoved)="onRowRemoved($event)"
              (onEditorPreparing)="onEditorPreparing($event)"
              (onRowInserted)="onRowInserted($event)"
              (onSaved)="onSaved($event)"
              (onRowUpdated)="onRowUpdated($event)"
              [attr.data-masterKey]>

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-editing mode="row"
               [refreshMode]="refreshMode"
               [allowAdding]="true"
               [allowUpdating]="true"
               [allowDeleting]="true">
  </dxo-editing>

  <dxi-column dataField="orderID" dataType="number" [allowEditing]="false" [visible]="false">
  </dxi-column>
  <dxi-column dataField="productID" dataType="number">
    <dxo-lookup [dataSource]="products"
                valueExpr="productID"
                displayExpr="productName">
    </dxo-lookup>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="quantity" dataType="number">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="unitPrice" dataType="number" format="currency">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>

</dx-data-grid>
